.n1__header {
  padding-left: 30px;
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
  border-left: solid rgba(0, 0, 0, 0.1) 1px;
}

.n1__header > h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
}

.n1__body {
  padding: 30px;
}
