.form__inputFlex {
  display: flex;
  margin-bottom: 15px;
}

.form__inputNamaContainer {
  display: flex;
  align-items: center;
  width: 35%;
}

.form__radioButton {
  margin: 0 0 0 20px;
  padding: 11px;
}

.form__radioButton > label {
  margin: 0 0 0 15px;
}